
 body {

    background: repeating-linear-gradient(
  90deg,
  rgb(100, 43, 70) ,
  rgb(100, 43, 70), 30px,
  rgb(100, 43, 70) 30px,
  rgb(100, 43, 70) 60px)
  
    
  }
   
  


    
.appFrame {
    
    font-family:  Helvetica, Arial, sans-serif;
    background-color:rgba(206, 149, 178, 0.9);
 max-width: 700px;
    padding:2%; 
    margin: 2% auto;
  
border: 0px;
border-style: solid;

border-radius: 5px;}


 

h1 {
    font-family: "Josefin Slab", serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    color:#aa3f3f; 
}

h2{  
    
     font-size: 20px; 
    font-weight: 500;
   
} 

.tempNumber { 
    display:flex; 
    justify-content:space-between;
   
}
.tempFont { 
    font-family: "Josefin Slab", serif;
    font-size: 50px;
    font-weight: 500;
    
    font-weight: 400;
  

    color:#aa3f3f; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.emoji { 
    font-size: 40px;
    
    font-weight: 400;

    color:#aa3f3f; 
    ;
}


.displayitems { 
    display:flex; 
    justify-content:space-between;
}





.searchForm { 
    font-size: 20px; 

}

.searchButton { 
   
    background-color:#e95670; 
    font-size: 20px;
    box-shadow: none;
    border-color: #e95670;
    border-radius: 5px;
  
}



.weekly {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

.weeklyDay {text-align: center;}

.weeklyIcon {text-align: center;
    object-fit: scale-down; 
;}

.weeklyTemp {text-align: center;}

.weeklyDay 
{ 
}

footer 
{text-align: center;
    padding-top: 30px;
}

a {color:  rgb(100, 43, 70);
    text-decoration: none; 
font-weight: 600;}

    b {color:#aa3f3f; }

    .sakura {
        pointer-events: none;
        position: absolute;}